
  
  .showMore{
    background-color: #f0790b; /* Green */

    color: white;
 
    padding: 5px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
  }
  .showLess{
    background-color: #3b2fda; /* Green */
 

    color: white;
 
    padding: 5px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
  }
  .showGraph{
    background-color: #0f04a5; /* Green */
 

    color: white;
 
    padding: 7px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 14px;
  }
  .NextButton {
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  .BackButton {
    font: inherit;
    border: 1px solid #4f005f;
    background: #ee0b0b;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #741188;
    border-color: #741188;
  }
  
  .button:focus {
    outline: none;
  }