.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 50px 400px;
    display: flex;
    display: inline-block;
    font-size: 16px;
  }
  .showMore{
    background-color: #3b2fda; /* Green */

    color: white;
 
    padding: 5px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
  }
  .showLess{
    background-color: #f0790b; /* Green */

    color: white;
    
    display: flex;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button {
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #741188;
    border-color: #741188;
  }
  
  .button:focus {
    outline: none;
  }